<table bgcolor="darkgreen" style="position:relative">
	<tr height="25%">
		<th class="option-button border white-background"><div ng-mouseover="mouseover(0)"  ng-mouseleave="mouseleave(0)"  ng-click="click(0)"  id="line-plunge">0-Line Plunge</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(4)"  ng-mouseleave="mouseleave(4)"  ng-click="click(4)"  id="option">4-Option</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(5)"  ng-mouseleave="mouseleave(5)"  ng-click="click(5)"  id="screen">5-Screen</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(14)" ng-mouseleave="mouseleave(14)" ng-click="click(14)" id="punt">14-Punt</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(18)" ng-mouseleave="mouseleave(18)" ng-click="click(18)" id="standard">18-Standard</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(22)" ng-mouseleave="mouseleave(22)" ng-click="click(22)" id="long-pass">22-Long Pass</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(12)" ng-mouseleave="mouseleave(12)" ng-click="click(12)" id="kickoff" >12-Kickoff</div></th>
	</tr>
	<tr height="25%">
		<th class="option-button border white-background"><div ng-mouseover="mouseover(1)"  ng-mouseleave="mouseleave(1)"  ng-click="click(1)"  id="counter">1-Counter</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(26)" ng-mouseleave="mouseleave(26)" ng-click="click(26)" id="kneel">26-Kneel</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(6)"  ng-mouseleave="mouseleave(6)"  ng-click="click(6)"  id="sprint-out">6-Sprint Out</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(24)" ng-mouseleave="mouseleave(24)" ng-click="click(24)" id="fake-punt">24-Fake Punt</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(19)" ng-mouseleave="mouseleave(19)" ng-click="click(19)" id="short-gaps">19-Short Gaps</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(23)" ng-mouseleave="mouseleave(23)" ng-click="click(23)" id = "blitz">23-Blitz</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(29)" ng-mouseleave="mouseleave(29)" ng-click="click(29)" id="onsides-kick">29-Onsides Kick</div></th>
	</tr>
	<tr height="25%">
		<th class="option-button border white-background"><div ng-mouseover="mouseover(2)"  ng-mouseleave="mouseleave(2)"  ng-click="click(2)"  id="end-reverse">2-End Reverse</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(27)" ng-mouseleave="mouseleave(27)" ng-click="click(27)" id="qb-sneek">27-QB Sneak</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(7)"  ng-mouseleave="mouseleave(7)"  ng-click="click(7)"  id="bootleg">7-Bootleg</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(17)" ng-mouseleave="mouseleave(17)" ng-click="click(17)" id="fieldgoal">17-Fieldgoal</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(20)" ng-mouseleave="mouseleave(20)" ng-click="click(20)" id="short-wide">20-Short Wide</div></th>
		<th></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(30)" ng-mouseleave="mouseleave(30)" ng-click="click(30)" id="squib-kick">30-Squib Kick</div></th>
	</tr>
	<tr height="25%">
		<th class="option-button border white-background"><div ng-mouseover="mouseover(3)"  ng-mouseleave="mouseleave(3)"  ng-click="click(3)"  id="draw">3-Draw</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(28)" ng-mouseleave="mouseleave(28)" ng-click="click(28)" id="spike">28-Spike</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(8)"  ng-mouseleave="mouseleave(8)"  ng-click="click(8)"  id="drop-back">8-Drop Back</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(25)" ng-mouseleave="mouseleave(25)" ng-click="click(25)" id="fake-fg">25-Fake FG</div></th>
		<th class="option-button border white-background"><div ng-mouseover="mouseover(21)" ng-mouseleave="mouseleave(21)" ng-click="click(21)" id="short-pass">21-Short Pass</div></th>
	</tr>
</table>

<style>
.option-button {
	width: calc(100% / 7);
}
</style>