<div id="teamchartoffense" class="sidenav">
	<div class="closebtn" ng-click="closeNav()"><img src="./assets/CANCEL_CLOSE.bmp"></img></div>
	<!-- <div class="title">Team Chart</div> -->

	<div style="position:absolute; margin: 20px">
		<table style="position:absolute; table-layout:fixed; max-height:40px; border: 1px solid black">
			<tr height="2px">
				<td width="28px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="56px"></td>
				<td width="21px"></td>
				<td width="35px"></td>
				<td width="35px"></td>
				<td width="35px"></td>
				<td width="28px"></td>
			</tr>
			<tr height="20px">
				<td width="28px" colspan="10"><div class="title">Alabama 2012</div></td>
				<td width="35px" colspan="4"><img src="./assets/Helmets/Alabama.png"</td>
			</tr>
			<tr height="20px">
				<td width="28px"></td>
				<td width="56px" class="cell-border" colspan="4">running plays</td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border" colspan="4">passing plays</td>
				<td width="21px"></td>
				<td width="35px" class="cell-border" colspan="3" rowspan="2"></td>
				<td width="28px"</td>
			</tr>
			<tr height="20px">
				<td width="28px"></td>
				<td width="56px" class="cell-border">1</td>
				<td width="56px" class="cell-border">2</td>
				<td width="56px" class="cell-border">3</td>
				<td width="56px" class="cell-border">4</td>
				<td width="56px" class="cell-border">5</td>
				<td width="56px" class="cell-border">6</td>
				<td width="56px" class="cell-border">7</td>
				<td width="56px" class="cell-border">8</td>
				<td width="56px" class="cell-border">9</td>
				<td width="21px"></td>
				<td width="28px"></td>
			</tr>
			<tr height="40px">
				<td width="28px" class="cell-border">#</td>
				<td width="56px" class="cell-border">counter</td>
				<td width="56px" class="cell-border">line plunge</td>
				<td width="56px" class="cell-border">end reverse</td>
				<td width="56px" class="cell-border">draw</td>
				<td width="56px" class="cell-border">option</td>
				<td width="56px" class="cell-border">screen</td>
				<td width="56px" class="cell-border">sprint out</td>
				<td width="56px" class="cell-border">bootleg</td>
				<td width="56px" class="cell-border">drop back</td>
				<td width="21px"></td>
				<td width="35px" class="cell-border">B</td>
				<td width="35px" class="cell-border">QR</td>
				<td width="35px" class="cell-border">QT</td>
				<td width="28px" class="cell-border">#</td>
			</tr>
			<tr height="25px" ng-repeat="result in results">
				<td width="28px" class="cell-border">{{result.lineno}}</td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="56px" class="cell-border"></td>
				<td width="21px"></td>
				<td width="35px" class="cell-border"></td>
				<td width="35px" class="cell-border"></td>
				<td width="35px" class="cell-border"></td>
				<td width="28px" class="cell-border">{{result.lineno}}</td>
			</tr>
		</table>
	</div>
</div>

<style>
.cell-border {
	border: 1px solid black;
	text-align: center;
	text-justify: middle;
}
</style>
